<!-- index.html -->
<!doctype html>
<head>
<title>サンプル</title>
<link href="/static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <script src="/static/jquery.min.js"></script>
  <script src="/static/bootstrap.min.js"></script>
    <div class="content container">
        <h1>価格（税込）</h1>
        <p>Apple:{{ values.val1 }}</p>
        <p>Banana:{{ values.val2 }}</p>
        <p>Orange:{{ values.val3 }}</p>
    </div>
</body>
</html>
